{% extends 'halls/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Add video{% endblock %}

{% block content %}

<h2 class="my-4">Add video into {{ hall }}</h2>

<form method="post" class="mt-4" id="submit_video">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Add Video</button>
  <a class="btn btn-outline-secondary" href="{% url 'hall:hall-detail' request.resolver_match.kwargs.pk %}" role="button">Cancel</a>
</form>

<h2 class="mt-4">OR</h2>
<form method="post" class="mt-4" action="{% url 'hall:video_search' %}">
  {% csrf_token %}
  {% for field in search_form %}
  <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
    {{ field.errors }}
    {{ field.label_tag }}
    {% render_field field class="form-control"%}
  </div>
  {% endfor %}
</form>

<div id="search_results"></div>

{% endblock %}

{% block js_script %}
  <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
