{% extends 'halls/base.html' %}

{% load widget_tweaks %}

{% block title %}Create Hall{% endblock %}

{% block content %}
<h2 class="my-4">Create Hall Of Fame</h2>

<form method="post" class="mt-4">
  {% csrf_token %}

  {{ formset.management_form }}
  <div id="form_set">
    {% for form in formset.forms %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
      {{ form }}

    {% endfor %}

  </div>

  <input type="button" value="Add More" id="add_more" class="btn btn-primary">
  <button type="submit" class="btn btn-primary">Create Hall</button>

</form>

<div id="empty_form" style="display:none">
  {{ formset.empty_form }}
</div>

{% endblock %}

{% block js_script %}
<script>
  $('#add_more').click(function () {
    var form_idx = $('#id_form-TOTAL_FORMS').val();
    $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  });
</script>
{% endblock %}
