{% extends 'halls/base.html' %}

{% block title %}User Dashboard{% endblock %}

{% block content %}
<div class="text-center">
  <h1 class="my-4">Hall Of Fames</h1>
  <a href="{% url 'hall:hall-create' %}" class="btn btn-success mb-4">Creare new Hall of Fame</a>
</div>

  {% for hall in halls %}

  <div class="hall">
    <h2 class="my-3"><a href="{% url 'hall:hall-detail' hall.pk %}">{{ hall }}</a></h2>

      <input type="button" value="Delete" class="btn btn-danger hall-delete" data-hall="{{hall.id}}">
      <a href="{% url 'hall:hall-detail' hall.pk %}" class="btn btn-primary">Edit Hall</a>
      <a href="{% url 'hall:hall-add-video' hall.pk %}" class="btn btn-primary">Add Video To Hall</a>


    <div class="row">
      {% for video in hall.videos.all|slice:":3" %}
      <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="200" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text">{{ video.title }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

{% endblock %}

{% block js_script %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.addEventListener('click', event => {
      let element = event.target;

      if (element.value == 'Delete') {
        element.parentElement.style.animationPlayState = 'running';
        element.parentElement.addEventListener('animationend', () => {
          element.parentElement.remove();
          delete_hall(element.dataset.hall);
        });
      }
    })
  })

  let delete_hall = (hall_id) => {
    fetch(`/api/halls/delete/`, {
      method: 'DELETE',
      body: JSON.stringify({'hall_id': hall_id})
    })
  }
</script>
{% endblock %}
