{% extends 'halls/base.html' %}

{% block title %}Hall {{ hall }}{% endblock %}

{% block content %}
<h1 class="my-4 post-title">{{ hall }}</h1>

<textarea id="post-title-text" class="form-control mt-5 mb-3" cols="30" rows="2"
  style="display: none;">{{ hall.title }}</textarea>
 <input type="button" value="Update" class="btn btn-success w-25 update" style="display: none;">

{% if user.id == hall.user.id %}
<div class="my-3 hall-buttons">
  <input type="button" value="Delete" class="btn btn-danger hall-delete" data-hall="{{ hall.id }}">
  <input type="button" value="Edit" class="btn btn-primary hall-edit" data-hall="{{ hall.id }}">
  <a href="{% url 'hall:hall-add-video' hall.pk %}" class="btn btn-primary add">Add Video To Hall</a>
  <a href="{% url 'hall:dashboard' %}" class="btn btn-outline-secondary cancel">Cancel</a>
</div>
{% endif %}

<div class="row">
  {% for video in hall.videos.all %}
  <div class="col-md-4 mt-3 video">
    <div class="card mb-4 shadow-sm">
      <iframe width="100%" height="200" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <p class="card-text">{{ video.title }}</p>
        {% if user.id == hall.user.id %}
        <input type="button" value="Delete Video" class="btn btn-danger video-delete" data-video="{{ video.id }}">
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block js_script %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.addEventListener('click', event => {
      let element = event.target;

      if (element.value === 'Edit') {
        edit_hall(element.dataset.hall);
      }
      else if (element.value === 'Delete') {
        delete_hall(element.dataset.hall);
      }
      else if (element.value === 'Delete Video') {
        let video = element.parentElement.parentElement.parentElement

        video.style.animationPlayState = 'running';
        video.addEventListener('animationend', () => {
          video.remove();
          delete_video(element.dataset.video);
        })
      }
    })
  })

  let delete_video = (video_id) => {
    fetch('/api/halls/video/delete/', {
      method: 'DELETE',
      body: JSON.stringify({'video_id': video_id})
    })
  }

  let delete_hall = (hall_id) => {
    fetch(`/api/halls/delete/`, {
      method: 'DELETE',
      body: JSON.stringify({'hall_id': hall_id})
    })
    .then(response => {
      redirect: window.location.replace("{% url 'hall:dashboard' %}");
    })
  }

  let edit_hall = (hall_id) => {
    let textarea = document.querySelector('#post-title-text');
    let update_button = document.querySelector('.update')

    document.querySelector('.post-title').style.display = 'none';
    document.querySelector('.hall-buttons').style.display = 'none';
    textarea.style.display = 'block';
    update_button.style.display = 'block';

    update_button.addEventListener('click', () => {

      fetch('/api/halls/update/', {
          method: 'POST',
          body: JSON.stringify({
            'hall_id': hall_id,
            'text': textarea.value
          })
        })
        .then((response) => response.json())
        .then((result) => {
          if (result.status === 200) {
            textarea.style.display = 'none';
            document.querySelector('.post-title').textContent = textarea.value;
            document.querySelector('.post-title').style.display = 'block';
            document.querySelector('.hall-buttons').style.display = 'block';
            update_button.style.display = 'none';
          }
        })
    })
  }
</script>
{% endblock js_script %}
