{% extends 'halls/base.html' %}

{% load widget_tweaks %}

{% block title %}Update {{ object }}{% endblock %}

{% block content %}
<h2 class="my-4">Update Hall Of Fame {{ hall }}</h2>

<form method="post" class="mt-4">
  {% csrf_token %}
  {% for field in form.visible_fields %}
  <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
    {{ field.errors }}
    {{ field.label_tag }}
    {% render_field field class="form-control"%}
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary mt-3">Save {{ hall }}</button>
</form>

<a href="{% url 'hall:hall-delete' hall.pk %}" class="btn btn-danger my-3">Delete {{ hall }}</a>

{% endblock %}
