.jumbotron {
  background-color: #EBF4FA;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 51rem;
}

@keyframes hide {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 0;
  }
}

.hall {
  animation-name: hide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.video {
  animation-name: hide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}
